// Colores

$violeta : #c501e2;
$verde : #2ef8a0;
$rojo : #ff0534;
$rosa : #f82d97;
$cian : #01c4e7;
$rojoOscuro : #840005;
$grisOscuro : #606161;
$grisClaro : #CACCCC;
$blanco : #FFF;
$negro : #1c1c1c;
$negroClaro : #3c3c3c;

// Fuentes
$fuentePrincipal : 'Roboto', sans-serif;
$fuenteSecundaria : 'Orbitron', sans-serif;

// Medidas

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;